body {
  background-color: gray;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.container {
  width: 400px;
  height: 300px;
}

.sigContainer {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  background-color: #fff;
  border-style: solid;
  border: 2;
}

.sigPad {
  width: 400px;
  height: 300px;
}

.sigImage {
  background-size: 400px 300px;
  width: 400px;
  height: 300px;
  background-color: white;
}
